.background-gradient {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background: linear-gradient(rgb(139, 22, 14), rgb(14, 2, 1) 85%) no-repeat;
  left: 0;
  top: 0;
  position: fixed;
}
